<div style="height: auto; display: flex;" class="b-c-h ">
    <div class="base-image-container h-m-image">
        <div class="h-i-overlay">
            <div class="home-slogan b-c-size">
                <span>The courses you are looking for in one place!</span>
            </div>
        </div>
    </div>
</div>

@code {

}
