@page "/"
@using MOOCPediaApp.Models

<PageTitle>MOOCpedia</PageTitle>

<div class="home-container">
    @* Intoduction *@
    <HomeMainC />

    @* Courses *@
    <LatestCoursesC />

    @* Authors *@
    <AuthorsC />
</div>
