@page "/"

<PageTitle>MOOCpedia</PageTitle>

<div class="home-container">

    <div style="height: auto; min-height: 500px; display: flex;">
        <div class="base-image-container" style="background-image: url('images/home-photo-1.png'); flex: 1; background-position: right;">
            <div>
                <RadzenText Text="The courses you are looking for in one place!" />
            </div>
        </div>
    </div>

    <div style="background-color: var(--rz-secondary); padding: 1rem;">
        <div>
            <h2>Explore our latest MOOC</h2>
            @* <RadzenText TextStyle="TextStyle.DisplayH3" Text="" /> *@
        </div>

        <RadzenCarousel Style="padding-left: 75px; padding-right: 75px;">
            <Items>
                <HomeCarouselCard />
            </Items>
        </RadzenCarousel>
    </div>
</div>

@code {
    // List<object> _courses = new List<object> { new object() };

}