@using MOOCPediaApp.Models

@inject NavigationManager _nav

<RadzenCard Style="width: 350px; min-height: 250px; padding: 0; cursor: pointer">
    @* Image *@
    <div class="base-image-container home-card" style="background-image: url('images/course-img.png'); padding-top: 0.5rem;" />

    <div style="padding: 0.5rem; display: flex; flex-direction: column; gap: 1rem;">
        @* Title *@
        <div>
            <h2 style="margin: 0;">
                @Course.Title
            </h2>
        </div>

        @* Description *@
        <div>
            <span class="home-card-text" style="text-overflow: ellipsis;">@Course.Description</span>
        </div>

        @* Rating & Start *@
        <div class="base-container" style="flex-wrap: wrap; gap: 0.75rem;">
            <div class="base-container">
                <div>
                    <RatingC Rating="Course.Ratings" />
                </div>

                <div class="base-container">
                    <span class="home-card-text">@Course.Ratings.ToString()</span>
                    <RadzenIcon Icon="person" />
                </div>
            </div>

            <div>
                <RadzenButton Text="Start" Click="GoToCourseClick" />
                <RadzenButton Icon="more_vert" Click="GoToCourseDetailsClick" Variant="Variant.Text" />
            </div>
        </div>
    </div>
</RadzenCard>

@code {
    #region Parameters
    [Parameter, EditorRequired]
    public CourseCard Course { get; set; } = default!;
    #endregion

    #region Clicks
    public void GoToCourseClick()
    {
        _nav.NavigateTo("/course");
    }

    public void GoToCourseDetailsClick()
    {
        _nav.NavigateTo("/course/details");
    }
    #endregion
}
