<div class="loading-overlay" style="@overlayStyle">
    <div class="spinner"></div>
</div>

@code {
    #region Parameters
    [Parameter] 
    public bool IsVisible { get; set; } = false;
    #endregion

    #region Data
    private string overlayStyle = "display: flex;";
    #endregion

    #region LifeCycle
    protected override void OnParametersSet()
    {
        overlayStyle = IsVisible ? "display: flex;" : "display: none;";
    }
    #endregion
}