<div class="nav-container">
    <div class="base-container nav-body b-c-size">
        <div>
            @* Logo *@
            <span class="logo-span">MOOCpedia</span>

            @* Categories *@
        </div>

        <div class="nav-search-container">
            @* Search *@
            <SearchbarC />
        </div>

        <div>
            @*Account/Login Management*@
            <AccountManagerC />
        </div>
    </div>
</div>
