<div class="nav-container">
    <div class="base-container nav-body b-c-size">
        <div>
            @* Logo *@
            <a href="javascript:void(0)" @onclick="NavigateToHome" style="text-decoration: none; color: inherit; cursor: pointer;">
                <span class="logo-span">MOOCpedia</span>
            </a>


            @* Categories *@
        </div>

        <div class="nav-search-container">
            @* Search *@
            <SearchbarC />
        </div>

        <div>
            @*Account/Login Management*@
            <AccountManagerC />
        </div>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
