
<div class="nav-container">
    <div>
        @* Logo *@
        <span class="logo-span">MOOCpedia</span>

        @* Categories *@
    </div>

    <div>
        @* Search *@
        <SearchbarC />
    </div>

    <div>
        <AccountManagerC />
    </div>
</div>
